<style type="text/css">

body {
    padding-bottom: 300px;
}

td{
    text-align:center
}

tr{
    height: 50px
}

table{
    border: 1px solid black;
    line-height : 150%;
    width:100%
}

</style>


