.flexcols{
    column-count:3;
}

@media (max-width: 1400px) {
    .flexcols{
        column-count:2;
    }
}

@media (max-width: 1000px) {
    .flexcols{
        column-count:1;
    }
}

/*
.column3 {
  float: left;
  width: 33%;
}

@media (max-width: 1400px) {
  .column3 {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .column3 {
    width: 100%;
  }
}
*/

/* Clear floats after the columns
.row:after {
  content: '';
  display: table;
  clear: both;
}
*/

