
/*
.moveTable {
    display:table;
    padding: 10px;  
}*/

.headerRow {
    display:table-row;
    text-align:center;
}

.headerCell {
    display:table-cell;
    padding: 10px;  
    border: 1px solid black;
}

.moveRow {
    display:table-row;
    font-family: monospace;
}

.commentRow {
    display:table-row;
    padding: 10px;  
    border: 1px solid blue;
    background-color:powderblue;
}

.ply {
    display:table-cell;
    border: 1px solid red;
    padding: 10px;  
    width: 300px;
}

.noply {
    display:table-cell;
    border: 0px;
    padding: 10px;  
    width: 300px;
}

.movetable>p {
    margin : 20;
    line-height : 150%;
    width: 620px;
    background-color:powderblue;
}

.solution {
    display:none;
}

table, th, td {
    border: 1px solid black;
    line-height : 150%;
}

p {
    margin : 20;
    line-height : 150%;
}

ul {
    margin : 0;
    line-height : 150%;
}

ol {
    margin : 00;
    line-height : 150%;
}

body {
    padding-bottom: 300px;
}

