#moves {
    width: 300px;
    padding: 10px;  
    border: 2px solid red;
    font-family: monospace;
}

table, th, td {
    border: 1px solid black;
}

p {
    margin : 20;
    line-height : 150%;
}
ul {
    margin : 0;
    line-height : 150%;
}
ol {
    margin : 00;
    line-height : 150%;
}
body {
    padding-bottom: 300px;
}
